/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form, input{
	display: flex;
	justify-content: center;
	gap:20px;
	margin:20px;

}
.button{
	width:100px;
	height:100px;
	background-size: cover;
	background-position: center;
}
.button:hover{
	color: #494949 !important;
	border-radius: 10px;
	border-color: #494949 !important;
	
}
.title,.print,.result, .results,.final{
	text-align: center;

}

body{
	background-color: #FFFFF0;
}

h1{
	font-size: 50px;
	color: #FCFCFC;
}

.heading{
	background-color: #3F4045;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.result,.results,.final{
	color:black;
}

.info{;

	
}


.Caption, .Scores, .Label{
	display:flex;
	justify-content: center;
	margin-top:20px;
	padding: 0px 40px;
	font-size:40px;
}

#Score {
	font-size: 80px;
	padding: 0px 48px;
  }


.personalInfo{
	display:flex;
	background-color: #333;
	position: absolute;
	bottom:0px;
	left: 0px;
	width:100%;
	align-items: center;
	justify-content: center;

}

.gitHub{
	height:40px;
	width: 40px;
	margin-left:20px;;
	margin:10px;
	
}
#rock{
	background-image: url("images/istockphoto-1348256634-612x612\ \(1\).jpg");
}
#paper{
	background-image: url("images/istockphoto-1348256634-612x612\ \(2\).jpg");
}
#scissors{
	background-image: url("images/istockphoto-1348256634-612x612\ \(3\).jpg");
}